.recipe {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recipe .recipeTitle {
  /* font-family: cursive; */
  font-size: 60px;
}

.recipeList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  font-family: 'Times New Roman', Times, serif;
}

/* MENU ITEM STYLING */

.recipeItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-style: italic;
}
.recipeItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.recipeItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipeItem h1,
.recipeItem p {
  margin-left: 20px;
}

.recipeItem button {
  color: greenyellow;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  justify-content: center;
  background-color: #1bca15;
  height: 40px;
  width: 150px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

@media only screen and (max-width: 1300px) {
  .recipeList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .recipeList {
    grid-template-columns: 1fr;
  }
}
